<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBook</title>
</head>
<body>
    <div class="'container">
        <div class ="row navbar bg-light align-items-center">
            <div class = "col-6">
                <a class="nav-link" href="/home"><h4>MyBook</h4></a>
            </div>
        </div>
        <div class="col-6">
            <ul class="nav justify-content-end">
                <li class="nav-item">

                </li>
            </ul>
        </div>

    </div>
</body>
</html>