<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBook</title>
</head>
<body>
    <div class="'container">
        <div class ="row navbar bg-light align-items-center">
            <div class = "col-6">
                <a class="nav-link" href="/home"><h4>MyBook</h4></a>
            </div>
        </div>
        <div class="col-6">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class = "nav-item" id="signup_link" href="/signup">Signup</a>
                </li>
                <li class="nav-item">
                    <a class = "nav-item" id="signin_link" href="/signin">Signup</a>
                </li>
                <li class="nav-item">
                    <a class = "nav-item" id="signout_link" href="/signout">Signup</a>
                </li>
                <li class="nav-item">
                    <a class = "nav-item" id="myinfo_link" href="/myinfo">Signup</a>
                </li>
                <li class="nav-item">
                    <a class = "nav-item" id="create_article_link" href="/create_article">Signup</a>
                </li>
            </ul>
        </div>

    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col" style="text-align: center;">contents</div>
        </div>

    </div>
</body>
<script type="text/javascript" src="/static/js/navbar.js"></script>
</html>