<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row navbar bg-light align-items-center">
            <div class="col-6">
                <a href="nav-link" href="/home"><h4>MyBook</h4></a>
            </div>
            <div class="col-6">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" id="signup_link" href="/signup">SignUp</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="signin_link" href="/signIn">SignIn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="signout_link" href="javascript:;" onclick="signOutHandler();">SignOut</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="myinfo" href="/myinfo_link">MyInfo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="create_article_link" href="/create_article">상품등록</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col" style="text-align: center;">content</div>
        </div>

    </div>
</body>
<script type="text/javascript" src="/appmain/static/js/navbar.js"></script>
</html>